* {
  margin: 0;
  padding: 0;
}

body {
  background: slategray;
  text-align: center;
}
.container {
  height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.9vmin;
  
}
.game-title {
  color: palegreen;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.9vmin;
  
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem lightgray;
  font-size: 9vmin;
  color: royalblue;
  background-color: #A8D8D1
}

#reset-game-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: limegreen;
  color: #fff;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem, lightgreen;
}

#msg {
  color: greenyellow;
  font-size: 5vmin;
}

.msg-container {
  height: 10vmin;
}

.hide {
  display: none;
}